body {
  font-family: Roboto;
}

header, footer, .hero-section {
  background-color: #1f2937;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 0 16px 32px;
}

nav {
  display: flex;
  gap: 16px;
}

footer {
  text-align: center;
}

.hero-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding-bottom: 32px;
}

.hero-section img {
  max-width: 500px;
}

.hero-section div {
  max-width: 500px;
}

.hero-section div h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

nav p, .hero-section div p {
  font-size: 18px;
  color: #e5e7eb;
}

#logo {
  font-size: 24px;
  color: #f9faf8;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 8px;
  font-weight: 700;
}

.content-section {
  /* display: flex;
  flex-flow: column wrap;
  align-items: center; */
  text-align: center;
}

.content-section h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.content-section div {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.content-box {
  display: flex;
  flex-flow: column wrap;
}

.content-box img {
  width: 200px;
  height: 200px;
}

.quote-section {
  background-color: #e5e7eb;
}

.quote-section div {
  max-width: 75%;
  margin: 0 auto;
  padding: 32px;
}

.quote-section div p {
  text-align: right;
}

.quote-section div #quote {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
  text-align: center;
}
